.direction-item{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.direction-item__list{
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
    position: relative;
}

.direction {
    padding-top: 0px;
}

.direction-item__list-name{
    position: absolute;
    background-color: rgba(47, 48, 58, 0.8);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    bottom: 0%;
    left: 0%;
}