.portfolio-button-list{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.portfolio-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--team-background-color);
    cursor: pointer;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus {
        background-color: var(--accent-color);
        color: var(--primary-white-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.portfolio-button-item:not(:last-child){
    margin-right:8px;
}

.portfolio-cards-list{
    background-color: var(--primary-white-color);
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;  
    margin-left: -30px;
}

.portfolio-cards-item{
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.portfolio-container-cards-name{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.project-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--title-text-color);
    margin-bottom: 4px;
}

.project-type{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.portfolio-cards-img-container{
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--primary-white-color);
    padding: 63px 24px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    letter-spacing: 0.03em;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .portfolio-cards-item-link:hover &,
    .portfolio-cards-item-link:focus & {
        transform: translateY(0%);
    } 
}