.team{
    background-color:var(--team-background-color);
}

.team-container__title{
    margin-bottom: 50px;
    text-align: center;
}

.team-card-item{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.team-card{
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-top: 30px;
}

.direction-title, .team-container__title, .feature-main-title, .portfolio-title, .clients-section-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    text-align: center;
    margin-bottom: 50px;
}

.team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 10px;
    text-align: center;
}

.member-job{
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
}

.team-member-wrapper{
    padding-top: 30px;
    padding-bottom: 30px;
}

.social-list {
    display: flex;
    justify-content: space-between;
}

.team-member-wrapper{
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 30px;
}
