:root {
    --primary-text-color: #757575;
    --title-text-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#FFFFFF;
    --logo-black-color:#000000;
    --hero-background-color:#2F303A;
    --hero-btm-focus:#188CE8;
    --team-background-color:#F5F4FA;
    --footer-email-phone: rgba(255, 255, 255, 0.6);
    }